<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <jmxConfigurator/>
    <contextName>TRFU</contextName>

    <!--APPENDERS-->

    <!-- Основные настройки для консоли-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.out"/>
    </appender>

    <!-- для SQL-->
    <appender name="APPENDER_SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <file>${com.sun.aas.instanceRoot}/logs/SQL/SQL.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/SQL/SQL_%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>25MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!--Для DAO-->
    <appender name="APPENDER_DAO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/DAO/DAO.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Для различных подсистемных сообщений (Утилиты, Конвертеры)-->
    <appender name="APPENDER_UTIL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/util/util.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Для интеграции с ЛИС-->
    <appender name="APPENDER_LIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/lis/lis.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Для интеграции с МИС-->
    <appender name="APPENDER_MIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/mis/mis.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Для отчетов-->
    <appender name="APPENDER_REPORTS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/report/report.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>
    <!--LOGGERS-->

    <!--Логгеры -->
    <!-- TODO -->
    <logger name="ru.efive.medicine.niidg.trfu.uifaces.beans" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DAO"/>
    </logger>
    <!--Конец логгеров для документов-->

    <!--Логгер для отчетов-->
    <logger name="REPORT" level="${logs.document.level}" additivity="true">
        <appender-ref ref="APPENDER_REPORT"/>
    </logger>

    <logger name="AUTH" level="DEBUG"/>

    <logger name="FILTER" level="DEBUG"/>

    <!--Логгеры для различных утилит-->
    <!-- Логгер для конвертеров-->
    <logger name="CONVERTER" level="DEBUG">
        <appender-ref ref="APPENDER_UTIL"/>
    </logger>

    <!-- Логгер для ЛИС-->
    <logger name="LIS" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_LIS"/>
    </logger>

    <!-- Логгер для МИС-->
    <logger name="MIS" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_MIS"/>
    </logger>


    <!--Логгер для действий с пользователями-->
    <logger name="USER" level="DEBUG"/>

    <!--Hibernate SQL LOGGER-->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_SQL"/>
    </logger>

    <root level="${logs.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>