<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <jmxConfigurator/>
    <contextName>ORD</contextName>

    <!--APPENDERS-->

    <!-- Основные настройки для консоли-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.out"/>
    </appender>

    <!-- для LDAP-->
    <appender name="APPENDER_LDAP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/LDAP/LDAP.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- для SQL-->
    <appender name="APPENDER_SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <file>${com.sun.aas.instanceRoot}/logs/SQL/SQL.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/SQL/SQL_%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>25MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!--Для заданий\поручений-->
    <appender name="APPENDER_TASK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/TASK/TASK.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--Для разных типов документов-->
    <appender name="APPENDER_DOC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/documents/doc.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--Для DAO-->
    <appender name="APPENDER_DAO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/DAO/DAO.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

   <!--Для альфреско-->
    <appender name="APPENDER_ALFRESCO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/ALFRESCO/alfresco.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Для различных подсистемных сообщений (Утилиты, Конвертеры)-->
    <appender name="APPENDER_UTIL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/util/util.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${logs.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--LOGGERS-->

    <!--Логгеры для документов-->
    <!-- базовый -->
    <logger name="DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <!--У каждого свой но все отписывают в один APPENDER_DOC-->
    <logger name="INCOMING_DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <logger name="INTERNAL_DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <logger name="OUTGOING_DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <logger name="REQUEST_DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <!--Конец логгеров для документов-->

    <logger name="AUTH" level="DEBUG"/>

    <logger name="FILTER" level="DEBUG"/>

    <!--Логгеры для различных утилит-->
    <!-- Матрица редактируемости полей-->
    <logger name="EDITABLE_MATRIX" level="DEBUG">
        <appender-ref ref="APPENDER_UTIL"/>
    </logger>
    <!-- Логгер для конвертеров-->
    <logger name="CONVERTER" level="DEBUG">
        <appender-ref ref="APPENDER_UTIL"/>
    </logger>

    <logger name="TASK" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_TASK"/>
    </logger>

    <!--Логгер для работы с подразделениями-->
    <logger name="DEPARTMENT" level="ERROR"/>

    <!--Логгер для работы с должностями-->
    <logger name="POSITION" level="ERROR"/>

    <!--Логгер для работы с контрагентами-->
    <logger name="CONTRAGENT" level="INFO"/>

    <!--Логгер для действий с пользователями-->
    <logger name="USER" level="DEBUG"/>


    <logger name="HUMAN_TASK" level="DEBUG"/>

    <!--Логгеры для DAO-->
    <!--У каждого свой, но пишут все в один APPENDER_DAO-->
    <logger name="TASK_DAO" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_DAO"/>
    </logger>
    <!--Конец логгеров для DAO-->

    <!--Логгер для интеграции с ЛДАП-->
    <logger name="LDAP" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_LDAP"/>
    </logger>

    <!--Логгер для интеграции с альфреско-->
    <logger name="ALFRESCO" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_ALFRESCO"/>
    </logger>

    <!--Hibernate SQL LOGGER-->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_SQL"/>
    </logger>

    <root level="${logs.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>