html, body {
	height: 100%;
}

body {margin:0; padding:0; font-family:Arial; font-size:11px;}

p {margin: 3px 1px}

#donor_form p {margin:0;padding:1px;}

#logo {height:47px; width:60px;}

.printtable {border-collapse: collapse; padding:0; margin:0;}
.printtable td {border:1px solid #000000; padding:2px;}
.printtable th {border:1px solid #000000; padding:2px;}


#print_table {overflow: auto;}
#print_table table {border: none;}
#print_table table thead th {text-align:left; border:none; padding: 0 5px; white-space: normal;}
#print_table table tbody td {border:1px solid #ededed; border-left:none; border-right:none; padding: 3px 5px;}
#print_table table tbody tr:hover td {background: none;}

.filterParametersLeftColumnTitle {padding-right: 20px; font-weight: bold;}
.filterParametersRightColumnTitle {padding-left: 50px; padding-right: 20px; font-weight: bold;}
