@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
}
body {margin:0; padding:0; font-family:Arial; font-size:12px; color:#454c4e;}
#main_global {min-width:1000px; min-height: 100%; height:100%}
#container {margin:0 auto; min-width:1000px; min-height: 100%;}
#main_content_form {padding:0; height:100%;}

.cl {clear:both;}
.strong {font-weight:bold;}
table {border-collapse: collapse; padding:0; margin:0;}
td, th {padding:0; margin:0; vertical-align:top;}
img {border:0;}
h1 {font-size:24px; color:#454c4e; font-weight:bold;}
a {}
a:hover {text-decoration:none;}
.cl{clear:both}

#logo {float:left; width:15%; padding:23px 0 10px 5%;}
#logo img {display:block;}
#logo a {display:block; padding:0 0 0 20px;}

#view_header {float:left; display:block; width:80%; background:#D1F3DB;}
#form_header {float:left; display:block; width:100%; background:#D1F3DB;}

#header  {color: #15428B; font-weight: bold; text-decoration: none;}
#header .menu {margin:0px 0 0 0; padding:0 1px; font-size:12px; font-family:Tahoma, Geneva, sans-serif; border-bottom:1px solid #7AD6B4; border-bottom:1px solid #7AD6B4; height:27px; background:#D1F3DB url('#{resource['images:bg.gif']}') 0 0 repeat-x;}

#viewtitle {padding:4px; float:left;}

#header .username {padding:0; display:block; float:right; font-weight: normal; color:#454c4e;}
#header .role {padding:0; display:block; font-weight: normal; color:#454c4e; margin-right: 30px; }

.actionbar .menu {margin:0px 0 0 0; padding:0 1px; font-size:12px; font-family:Tahoma, Geneva, sans-serif; border-bottom:1px solid #7AD6B4; height:27px; background:#D1F3DB url('#{resource['images:bg.gif']}') 0 0 repeat-x;}
.actionbar .menu ul {display:block; margin:0; padding:0; list-style:none; border-bottom:1px solid #7AD6B4;  }
.actionbar .right {display:block; float:right; font-weight: normal; color:#454c4e;}

#footer {position:absolute; padding:0px; bottom:0; right:0; width:80%; float:left; background:#D1F3DB; text-decoration: none;}
#footer .content {margin:0px 0 0 0; padding:0 1px; border-top:1px solid #7AD6B4; height:27px; background:#D1F3DB url('#{resource['images:bg.gif']}') 0 0 repeat-x;}

#split {display:block; float:left; padding:0px; margin:0; width:0.3%; min-height:100%; height: 100%; background: #CDEFD8; border-left:1px solid #7AD6B4; border-right:1px solid #7AD6B4;}

div.defbutton {float:left; padding:2px 0 0 2px;vertical-align:middle;}
div.defbutton img {vertical-align:middle; padding-right: 3px;}
div.defbutton a {display:block; height:16px; text-align: center; cursor: pointer; float: left; font-family: Arial; padding:3px 10px 3px 10px; text-decoration: none; font-weight: none; }
div.defbutton a:hover {border: 1px dotted #7AD6B4; padding:2px 9px 3px 9px;}
div.defbutton a {color:#000000;}
div.defbutton a:visited {color:#000000;}
div.defbutton a:active {color:#000000;}

#navibar {float:left; height:50px; margin:0 0 20px 0; width:80%; background-color:#f8f8f5;}
#navibar .bg {height:35px; padding-top:15px; border-left:1px solid #e7e7e4;}
#navibar a {float:left; display:block; margin-left:20px; text-decoration:none; color:#0089b0; font-weight:bold; background:transparent url('#{resource['images:arrow-left-b.png']}') 0 50% no-repeat;}
#navibar a span {padding-left:15px;}
#navibar a:hover span {text-decoration:underline;}

#header_content {clear:both; margin:0 0 30px 0; padding:0 5%; height:17px; margin:17px 0; padding:20px 30px 5px 50px;}
#header_content .name {float:left; padding:0 20px 0 20px; line-height:100%; font-size:18px; font-weight:bold;}
#header_content .type {float:left; padding:0 17px 0 17px; line-height:100%; font-size:15px; font-weight:bold;}
#header_content .title {float:left; padding:0 20px 0 20px; border-left:1px solid #e7e7e4; line-height:100%; font-size:18px; font-weight:bold;}
#header_content .status {float:right; padding:0 17px 0 17px; line-height:100%; font-size:15px; font-weight:bold;color:#30a31a;}
#header_content .descr {clear:both; margin:18px 0; padding:0 0 0 20px; font-size:18px;}


.header_content div.row table.form_title {width:100%; vertical-align: middle; font-weight: bold;}

#main_menu {clear:both; padding:0 5% 0 5%; background:#00c4d7; border-bottom:3px solid #009eb5;}
#main_menu ul {height:33px; margin:0px; padding:7px 0 0 0; list-style:none;}
#main_menu ul li {float:left; height:36px; margin:0; background:none;}
#main_menu ul li.active {padding-right:23px; background:url('#{resource['images:tab_bg.gif']}') 100% 0 no-repeat;}
#main_menu ul li a {float:left; display:block; height:26px; padding:10px 30px 0 20px; text-decoration:none; color:#fff; font-size:12px; font-weight:bold}
#main_menu ul li.active a {padding-right:10px; background:#fff; color:#454c4e;}


.main_content {padding: 0px 30px 0 30px; height:100%; overflow:auto; }
.main_content div.row {padding:24px 20px; border-bottom:1px dashed #e7e7e4;}
.main_content div.row.last {border:none}
.main_content div.row table.form_grid {width:100%; }

.main_content div.row table.form_grid tbody {border-top:1px solid #e7e7e4;}

.main_content tr.row { border-bottom:1px solid #e7e7e4; width:100%}
.main_content tr.row select {width:inherit;}
.main_content tr td {padding:4px 0;}
.main_content tr td.first {padding:4px 0; width:150px; text-align:left;}
.main_content tr td.third {width:150px; text-align:left;}
.main_content tr td.second {width:40%; text-align:left;}
.main_content tr td.fourth {width:40%; text-align:left;}
.main_content tr td.second input {font-size:12px;}
.main_content tr td.fourth input {font-size:12px;}

.wide {width:98%;}
.short {width:50px;}

#main_table {float:left; margin:0; width:80%; font-size:12px; overflow:auto;}
#main_table table {width:100%; border: none;}
#main_table table thead {}
#main_table table thead th {height:0px; padding:0 10px; white-space:nowrap; vertical-align:middle; text-align:left; border:0 0 0 1px solid #ededed; background:#F9F9F9 url('#{resource['images:grid3-hrow.gif']}') 0 0 repeat-x;}
#main_table table thead th a, #main_table table thead th a.visited {color:#000000;text-decoration: none; font-weight:normal; position: absolute; margin-top: 3px; top: 1px;}
#main_table table tbody td {padding:7px 12px; border:1px solid #ededed; border-left:none; border-right:none;}
#main_table table tbody tr:hover td {background: #EFEFEF url('#{resource['images:row-over.gif']}') 0 0 repeat-x;}
#main_table table tbody tr:hover td.e5ui-row-marker {background-image: url('#{resource['images:marker_down.png']}'); background-position: right center; background-repeat:no-repeat;}
#main_table table tbody tr.collapsed:hover td.e5ui-row-marker {background-image: url('#{resource['images:marker_right.png']}'); background-position: right center; background-repeat:no-repeat;}

#main_table table tbody td .articul {color:#15428B; font-weight:bold;}
#main_table table tbody td.author {white-space:nowrap;}

#main_table table tbody tr.sub_row_cont td {border:none;}
#main_table table tbody tr.sub_row_cont .articul {padding-right:18px; background:url('#{resource['images:sub_row_cont_bg.gif']}') 100% 50% no-repeat;}
#main_table table tbody tr.sub_row td.first {padding-left:2px; background-image:url('#{resource['images:vertical_point.gif']}'); background-position:5px 0; background-repeat:repeat-y;}
#main_table table tbody tr.sub_row td.first .articul {padding-left:30px; background-image:url('#{resource['images:horizontal_point.gif']}'); background-position:5px 50%; background-repeat:no-repeat;}
#main_table table tbody tr.sub_row.last td.first {background-image:url('#{resource['images:horizontal_point_last.gif']}'); background-position:5px -85px; background-repeat:no-repeat;}

table.e5ui-dataTable thead th p, table.e5ui-dataTable thead tr p {position: absolute;top: 1px;margin-top:3px;}
div.inner table.e5ui-dataTable thead tr th, div.inner table.e5ui-dataTable thead tr {height: 0; border: 0px solid #E7E7E4;}

.searchtable tbody td {padding:3px 12px !important; border:0px !important;}
.searchtable tbody tr:hover td {background:none !important;}


/* дописать джаваскрипт расчёта позиции бэграунда */

.e5uiTabPanelContent {border: 1px solid #E7E7E4;}

/* FORM */
.datepicker {position:relative;}
.datepicker img {position:relative; top:5px;}
.datepicker input {height:15px; width:85px;}

label {margin:4px 0; vertical-align:top;}
label.cell {float:left; width:50%; margin:0;}
label span.left {float:left;}
label span.block {display:block; padding:0 0 5px 0;}
label span.title {padding-right:10px; color:#4581c0;}
label span.gray {color:#8f8f8f;}
label span.red {color:#ff0000;}
label input, label select {font-family:Arial; font-size:12px;}
label img {}
label select {width:100%;}
label select.multiple {height:210px; width:430px; border:1px solid #b8b9b9; color:#44474d; font-size:14px; line-height:20px;}
label select.multiple option {height:20px;}
label textarea {width:100%; height:73px; font-family: Arial; font-size:12px;}
label label {display:inline;}

#left_menu {padding:0; width:19.5%; float:left; clear:left;  min-height:100%; height: 100%;}
#left_menu .header {color:#15428B; font-weight:bold; padding:6px; border-bottom:1px solid #7AD6B4; border-top:1px solid #7AD6B4; background:transparent url('#{resource['images:white-top-bottom.gif']}') 0 -1px repeat-x;}

.searchbar {float:right; margin:0 5px 5px; display:block;}
.main_searchbar {display:block;float:left;width:100%; padding:0; font-size:12px; font-family:Tahoma, Geneva, sans-serif; border-bottom:1px solid #7AD6B4; border-bottom:1px solid #7AD6B4; height:27px; background:#D1F3DB url('#{resource['images:bg.gif']}') 0 0 repeat-x;}
.main_searchbar_form {display:block;float:left;width:100%; padding:0; font-size:12px; font-family:Tahoma, Geneva, sans-serif; border-bottom:1px solid #7AD6B4; border-bottom:1px solid #7AD6B4; background:#D1F3DB url('#{resource['images:bg.gif']}') 0 0 repeat-x;}

.searchbar .searchbutton, .main_searchbar .searchbutton, .main_searchbar_form .searchbutton {
    background: url('#{resource['images:search-ico.gif']}') no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    float: left;
    height: 21px;
    width: 29px;
   	margin:2px 0;
}
.searchbar .clearbutton, .main_searchbar .clearbutton, .main_searchbar_form .clearbutton {
    background: url('#{resource['images:clear-ico.gif']}') no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    float: left;
    height: 21px;
    width: 29px;
   	margin:2px 0;
}

.searchbar .searchbutton:hover, .main_searchbar .searchbutton:hover, .main_searchbar_form .searchbutton:hover {
    background: url('#{resource['images:search-ico-hover.gif']}') no-repeat scroll 0 0 transparent;
}
.searchbar .clearbutton:hover, .main_searchbar .clearbutton:hover, .main_searchbar_form .clearbutton:hover {
    background: url('#{resource['images:clear-ico-hover.gif']}') no-repeat scroll 0 0 transparent;
}

.searchbar input {width:250px;}

div.e5ui-menu {display:block; margin:0; padding:0 10px 0 0; list-style:none; overflow-y:auto;}
div.e5ui-menu img {vertical-align:middle;}
div.e5ui-menuItem[e5ui-level="0"] {margin:3px 0; padding:0 0 0 5px;}
div.e5ui-menuItem[e5ui-level="0"] a {height:18px; text-decoration:none; color:#454c4e;}
div.e5ui-menuItem div.e5ui-menuItem-childrens{}
div.e5ui-menuItem[e5ui-level="1"] {padding:0 0 0 20px;}
div.e5ui-menuItem[e5ui-level="1"] a {color:#454c4e;}
div.e5ui-menuItem[e5ui-level="2"] {padding:0 0 0 40px;}
div.e5ui-menuItem[e5ui-level="2"] a {color:#454c4e;}

div.e5ui-menuItem[e5ui-selected] {background:#E0FFDB;}
div.e5ui-menuItem[e5ui-selected] a {color:#000000;}

/*customization*/
#news {position: absolute; padding:0px; left:0; bottom:0; min-height:20%; height:20%; width:19.5%; min-width:195px}
#news .header {color:#15428B; font-weight:bold; padding:6px; border-bottom:1px solid #7AD6B4; border-top:1px solid #7AD6B4; background:transparent url('#{resource['images:white-top-bottom.gif']}') 0 -1px repeat-x;}


#header .default_buttn {float:left; padding:20px 0 0 10px;vertical-align:middle;}
#header .default_buttn a {display:block; height:22px; background:transparent url('#{resource['images:bg_buttn.png']}') repeat-x 0 0; text-align: center; border: 1px solid #CCCFCB; cursor: pointer; float: left; font-family: Arial;font-size: 12px; padding:3px 10px 0px 10px; text-decoration: none; font-weight: bold; }

.e5ui-error {color: #B80000;padding-top: 14px;}

#first {margin: 0 auto; padding-bottom: 50px; position: relative; width: 410px;}
#first .head { padding-top: 19px; text-align: center;}
#first H2 {font-size: 16px; font-weight: normal; margin-top: 11px;}
#first H1 {font-size: 21px; font-weight: normal; margin-top: 21px;}
#first FORM {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #B3B3B3; border-radius: 7px 7px 7px 7px; color: #6D6D71; margin-top: 36px; padding: 40px 0 40px 79px;}
#first .inp {font-size: 16px; height: 34px; margin: 6px 0 15px 15px; padding-left: 6px; width: 220px;}
#first .but {border-radius: 7px 7px 7px 7px; color: #000000; cursor: pointer; font-size: 15px; height: 43px; margin: 5px 0 0 15px; width: 120px;}


.grid_row_selected {background-color: #DFE8F6 !important; background-image: none;}
.grid_row_selected td {background-color: #B8CFEE !important; color: #000000 !important;}

div.view_header_tab {
  display: block; float:none;
  background: #FFFFFF;
  height: 19px;
  padding: 7px 0 0 0;
  border-bottom: 2px solid #29A7E9;
}
div.view_header_tab a {
	background: url('#{resource['images:tabs-sprite.gif']}') no-repeat scroll 0 -51px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    color: #454C4E;
}
div.view_header_tab a span {
  background: url('#{resource['images:tabs-sprite.gif']}') no-repeat scroll 100% -351px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
div.view_header_tab a span span {
  background: url('#{resource['images:tabs-sprite.gif']}') repeat-x scroll 0 -201px;
  padding: 4px;
}
div.view_header_tab a.selected_tab {
    background: url('#{resource['images:tabs-sprite.gif']}') no-repeat scroll 0 0px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #FFFFFF;
}
div.view_header_tab a.selected_tab span {
  background: url('#{resource['images:tabs-sprite.gif']}') no-repeat scroll 100% -301px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
div.view_header_tab a.selected_tab span span {
  background: url('#{resource['images:tabs-sprite.gif']}') repeat-x scroll 0 -151px;
  padding: 4px;
}

.tileleft {width: 50%; float: left; clear: left; min-width: 500px;}
.tileright {width: 50%; float: left; clear: right; min-width: 500px;}

.wrap {
    background: #F9F9F9 url('#{resource['images:grid3-hrow.gif']}') 0 0 repeat-x;
    float: left;
    overflow: hidden;
    padding: 24px 0 0;
    margin: 10px;
    position: relative;
    width: 95%;
}

.wrap_main {
    background: #F9F9F9 url('#{resource['images:grid3-hrow.gif']}') 0 0 repeat-x;
    float: left;
    overflow: hidden;
    padding: 24px 0 0;
    margin: 0;
    position: relative;
    width:100%;
}

.inner {
    overflow: auto;
    width: 100%;

    background-color:#fff;
    clear:both;
}

table.e5ui-dataTable thead th p, table.e5ui-dataTable thead tr p
{
    position: absolute;
    top: 1px;
    margin-top:3px;
}

div.inner table.e5ui-dataTable thead tr th, div.inner table.e5ui-dataTable thead tr {
  	height: 0;
  	border: 0 solid;
}

.e5ui-modal #title
{
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  height: 20px;
  background-color:#7AD6B4;
  padding: 3px 0px 0px 10px;
}

#files_tbl {
	width:50%;
}


#table_paging {

    border-top:1px solid #7AD6B4;
    background:#D1F3DB url('#{resource['images:bg.gif']}') 0 0 repeat-x;
	height:32px;
	text-align:center;
	clear: both;
}

#main_content_form textarea {
	width:100%;
    font-size: 12px;
    font-family: Arial;
}
/****************/
#main_edit_form {
	background:#D1F3DB;
	margin: 0;
	float:right;
	font-size:12px;
	width:320px;
	padding-left: 5px;
	padding-top: 5px;
    overflow:auto;
}

#edit_form_buttons {
	height:32px;
}

/* drop-down menu */
.menu div.top {float:left; padding:2px 0 0 2px;vertical-align:middle; position:relative;}
.menu div.username {float:right; padding:2px 0 0 2px;vertical-align:middle; position:relative;}
.menu div.role {float:right; padding:2px 0 0 2px;vertical-align:middle; position:relative;}

.menu div a.top_link {display:block; height:16px; text-align: center; cursor: pointer; float: left; font-family: Arial; padding:3px 10px 3px 10px; text-decoration: none; font-weight: none;}
.menu div a.top_link span {float:left; display:block; height:22px;}
.menu div a {color:#000000;}
.menu div a:visited {color:#000000;}
.menu div a:active {color:#000000;}
.menu a.top_link img {vertical-align:middle; padding-right: 3px;}

.menu a.top_link:hover {visibility:visible; border: 1px dotted #7AD6B4; padding:2px 9px 3px 9px;}
.menu .item:hover {position:relative; z-index:100;}

.menu div.sub {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none; z-index:101}

.menu :hover div.sub {left:2px; top:27px; right:2px; background: #fff; padding:3px 0; border:1px solid #999999; white-space:nowrap; width:270px; height:auto;}
div.menu div.role div.sub {left:auto; right:2px; width:170px;}
div.menu div.username div.sub {left:auto; right:2px; width:100px;}

.menu :hover div.sub .item {display:block; height:20px; position:relative; float:left; width:320px;}
.menu :hover div.sub .item a {font-weight:normal;display:block; height:20px; width:262px; line-height:20px; text-indent:5px; color:#000; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}

div.menu div.role div.sub .item {width:202px;}
div.menu div.role div.sub .item a {width:162px;}
div.menu div.username div.sub .item {width:132px;}
div.menu div.username div.sub .item a {width:92px;}

.menu :hover div.sub .item a.fly {background:#fff;}
.menu :hover div.sub .item a:hover {background: #7AD6B4; color:#fff;}
.menu :hover div.sub .item a.fly:hover {background: #7AD6B4; color:#fff;}
.menu :hover div.sub .item:hover > a.fly {background: #7AD6B4;  color:#fff;}


span.hl {font-weight:bold;}

div.datepicker {z-index: 110;}

/* filters */
#filter_panel {
	background:#D1F3DB;
	margin: 0;
	float:right;
	font-size:12px;
	width:340px;
	padding-left: 5px;
	padding-top: 5px;
}

#filter_panel_buttons {
	height:32px;
}

#filter_panel_parameters table tbody td {padding: 3px 5px; border-style: none;}
#filter_panel_parameters table tbody tr:hover td {background: none;}

.filterPanelParameter {width: 170px;}
.filterPanelParameterWide {width: 305px;}
.filterPanelParameterTitle {width: 120px; vertical-align: middle;}
