.e5uiTabPanel {
  display: block; float:none;
}


.e5uiTabPanelHeaderPage {
    background: url('#{resource['images:tabs-sprite.gif']}') no-repeat scroll 0 -51px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    cursor:pointer;
   	border: 0 solid;
}
.e5uiTabPanelHeaderPage span {
  background: url('#{resource['images:tabs-sprite.gif']}') no-repeat scroll 100% -351px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.e5uiTabPanelHeaderPage span span {
  background: url('#{resource['images:tabs-sprite.gif']}') repeat-x scroll 0 -201px;
  padding: 4px;
}
.e5uiTabPanelHeader {
    padding-left: 10px;
    height:19px;
}


.e5uiTabPanelHeaderPage.selected {
    background: url('#{resource['images:tabs-sprite.gif']}') no-repeat scroll 0 0px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    border-bottom:none;
    }
.e5uiTabPanelHeaderPage.selected span {
  background: url('#{resource['images:tabs-sprite.gif']}') no-repeat scroll 100% -301px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.e5uiTabPanelHeaderPage.selected span span {
  background: url('#{resource['images:tabs-sprite.gif']}') repeat-x scroll 0 -151px;
  padding: 4px;
}

.e5uiTabPanelHeader {
    padding-left: 10px;
    border-bottom: 3px solid #29A7E9;
}

.e5uiTabPanelContent {
    border-bottom: 1px solid #E7E7E4;
    border-left: 1px solid #E7E7E4;
    border-right: 1px solid #E7E7E4;
    padding: 1px;
    height: 100%;
}